.postDiv {
	background-color: #424874;
	border-radius: 5px;
}

form {
	background-color: whitesmoke;
	border-radius: 5px;
}

.formDiv {
	margin: 0px 15px 0px 15px;
}

.addImageBtn {
	margin-bottom: 5px;
}

.addImageBtn:hover{
	background-color: #a6b1e1;
}

.postBtn {
	float: right;
	margin-bottom: 5px;
}

.postBtn:hover{
	background-color: #a6b1e1;
}

.file-field input[type='file'] {
	width: 50% !important;
}
