#user-card{
	box-shadow: 0;
  	transition: box-shadow 0.5s;
}

#user-card:hover{
	box-shadow: 0 0 15px grey;
}
.card-image {
	height: 200px;
	border: 2px solid #e7e7e7;
}

.more {
	margin-right: -18px !important;
}

.dropdown-content {
	margin: 0;
	display: none;
	min-width: 150px;
	max-height: auto;
	margin-left: -1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	will-change: width, height;
}

.collection-item {
	margin: 0px !important;
	padding: 0px !important;
}

.card-action {
	height: 179px !important;
}

.imgDiv {
	display: block;
	position: relative;
}

.imgCircle {
	width: 150px !important;
	height: 150px !important;
	border-radius: 50% !important;
	margin: 0 auto !important;
	top: 20px !important;
}

.active {
	width: 350px !important;
	height: 350px !important;
	border-radius: none !important;
	margin: -150px 0px 0px 120px !important;
}

.fa-circle {
	color: rgb(21, 206, 21) !important;
	font-size: 15px !important;
}

#follow-btn:hover{
	background-color: #64b5f6;
}

.following {
	color: #424874 !important;
}

.secondary-content {
	position: relative;
	transform: translateX(100%);
}
